@model Cadastros
@{
    ViewData["Title"] = "Apagar Cadastro!";
}
<div> 
    <h3>Realmente deseja apagar o cadastro de: ...</h3>
</div>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-danger" role="button"  asp-controller="Cadastros" asp-action="Index">SIM, CONFIRMAR EXCLUSAO!</a>
    <a class="btn btn-primary" role="button" asp-controller="Cadastros" asp-action="Index">NAO, CANCELAR EXCLUSAO!</a>
</div>