@{
    ViewData["Title"] = "Sobre o projeto";
    Layout = "~/Views/Shared/_Alunos_Layout.cshtml";
}


<p >  
    <pre class="sobre">
    <h1>@ViewData["Title"]</h1>
 Olá, prazer em tê-los em nosso sistema!

 Este projeto foi realizado por um grupo da turma de POO (Programação Orientada a Objeto),
 do segundo semestre de 2023 do curso de ADS (Análise e Desenvolvimento de Sistemas),
 no Intituo Federal de Ciência e Tecnologia - Campus Cubatão, sob a docência 
 do professor  Nelson Junior. Com o projeto, o professor nos trouxe alguns 
 impasses que o Instituto enfrenta e tínhamos como desafio buscar uma solução
 com o que foi aprendido em sala durante o semestre.

 Com os temas definidos, o do nosso grupo foi a criação de um sistema para
 cadastrar os carros dos alunos que utilizam o espaço de estacionamento do IF.
 Com isso, realizamos este sistema de cadastro. 
 Para mais informações sobre o código, documentação e afins,
 acesse: [inserir o link aqui]...

</pre>
</p>

