@{
    ViewData["Title"] = "Sobre o projeto";
    Layout = "~/Views/Shared/_Alunos_Layout.cshtml";
}


<p >  
    <pre class="sobre">
    <h1>@ViewData["Title"]</h1>
Este projeto foi desenvolvido por um grupo da turma de Programação Orientada a Objetos (POO), do segundo 
semestre de 2023 do curso de Análise e Desenvolvimento de Sistemas (ADS) do Instituto Federal de Ciência 
e Tecnologia - Campus Cubatão, sob a orientação do professor Nelson Junior. O tema definido para nosso 
grupo foi a criação de um sistema de cadastro de veículos dos alunos que utilizam o espaço de estacionamento do IF. 

Para mais informações sobre o código, documentação e outros detalhes, acesse nosso <a href="https://github.com/devGabrieldev/RegistroCarrosdosAlunosIF">repositório</a>.

</pre>
</p>

